<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

<http auto-config="true">
		<intercept-url pattern="/admin**" access="ROLE_ADMIN" />
		<intercept-url pattern="/client**" access="ROLE_CLIENT" />
	    	<form-login
		    login-page="/login" 
			authentication-failure-url="/login?erreur" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"/>
	
	</http>
    
    
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="hassan" password="123456789" authorities="ROLE_ADMIN" />
				<user name="elgafif_hassan" password="123456789" authorities="ROLE_CLIENT" />
				<user name="elasri_abderrahmane" password="123456789" authorities="ROLE_CLIENT" />
				<user name="elyaacoubi_mohamed" password="123456789" authorities="ROLE_CLIENT" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>
